<div class="py-3 hamburger-menu-icon" style="position: absolute; left: 34px;top: 0;">
    <img style="width: 30px; height: 30px;cursor: pointer;" src="assets/images/hamburger.svg" />
</div>
<div class="text-50 pt-3" style="text-wrap: nowrap;">
    Piotr Bogus
</div>
<div class="px-1 py-1" style="text-wrap: nowrap;">
    {{dictionary.Ph2}}
</div>
<div class="d-flex gap-2 mx-1" style="margin-bottom: 50px;margin-top: 20px;">
    <div class="d-flex justify-content-center align-items-center portfolio-background-option lang-select">{{dictionary.Ph1}}</div>
    <div class="d-flex flex-column justify-content-center align-items-center portfolio-background-select lang-select-wrapper d-none" style="position: absolute;height: auto;margin: 24px 0px;">
        <div class="d-flex justify-content-center align-items-center portfolio-background-option" data-lang="en">EN</div>
        <div class="d-flex justify-content-center align-items-center portfolio-background-option" data-lang="pl">PL</div>
        <div class="d-flex justify-content-center align-items-center portfolio-background-option" data-lang="de">DE</div>
    </div>
    <div class="portfolio-background-option" style="background-color: rgb(25, 24, 44)" id-deg="0"></div>
    <div class="portfolio-background-option" style="background-color: rgb(43, 0, 0)" id-deg="150"></div>
    <div class="portfolio-background-option" style="background-color: rgb(0, 29, 0)" id-deg="330"></div>
</div>
<div class="d-flex flex-column text-16 px-5 py-2 gap-3 portfolio-menu">
    <span class="d-flex align-items-center gap-2" style="line-height: 25px;width:fit-content;">&mdash;<span class="portfolio-menu-link" name="experience">{{dictionary.Ph3}}</span></span>
    <span class="d-flex align-items-center gap-2" style="line-height: 25px;width:fit-content;">&mdash;<span class="portfolio-menu-link" name="certificates">{{dictionary.Ph4}}</span></span>
    <span class="d-flex align-items-center gap-2" style="line-height: 25px;width:fit-content;">&mdash;<span class="portfolio-menu-link" name="projects">{{dictionary.Ph5}}</span></span>
</div>
<div class="hamburger-menu d-none">
    <div class="py-3 hamburger-menu-icon" style="position: absolute; left: 34px;top: 0;">
        <img style="width: 30px; height: 30px;cursor: pointer;" src="assets/images/hamburger.svg" />
    </div>
    <div class="d-flex flex-column align-items-center text-16 p-5 gap-3">
        <span class="d-flex align-items-center gap-2" style="line-height: 25px;width:fit-content;"><span class="portfolio-menu-link portfolio-menu-link-hamburger" name="experience">{{dictionary.Ph3}}</span></span>
        <span class="d-flex align-items-center gap-2" style="line-height: 25px;width:fit-content;"><span class="portfolio-menu-link portfolio-menu-link-hamburger" name="certificates">{{dictionary.Ph4}}</span></span>
        <span class="d-flex align-items-center gap-2" style="line-height: 25px;width:fit-content;"><span class="portfolio-menu-link portfolio-menu-link-hamburger" name="projects">{{dictionary.Ph5}}</span></span>
    </div>

</div>